extends ../layouts/default


block main
  h1= title
  hr

block content
  - var action = '/projects'
  - action += project.isNew? '' : '/' + project.id
  .row
    .span7
      form.form-horizontal(method="post", action=action, enctype="multipart/form-data")

        input(type="hidden", name="_csrf", value="#{csrf_token}")

        - if (!project.isNew)
          input(type="hidden", name="_method", value="PUT")

        .control-group
          label.control-label(for='title') Título
          .controls
            input#title.input-xlarge(type='text', name="title", value=project.title, placeholder='Até 50 caracteres.')


        .control-group
          label.control-label(for='description') Descrição
          .controls
            textarea#desc.input-xlarge(type='text', rows="5", name="description", placeholder='Descrição resumida do projeto.')=project.description
                
        .control-group
          label.control-label(for='states') 
            | Estados
            project.places.lenght
          .controls
            select(class='chosen-select', data-placeholder="Escolha os estados afetados..." name="places.states", multiple)
              option(value="")
              - each state in ["Acre","Alagoas","Amapá","Amazonas","Bahia","Ceará","Distrito Federal","Espírito Santo","Goiás","Maranhão","Mato Grosso","Mato Grosso do Sul","Minas Gerais","Pará","Paraíba","Paraná","Pernambuco","Piauí","Rio de Janeiro","Rio Grande do Norte","Rio Grande do Sul","Rondônia","Roraima","Santa Catarina","São Paulo","Sergipe","Tocantins"]
                - var isSelected = false
                - each selectedState in project.places.states
                  - if (state == selectedState) 
                    - isSelected = true
                option(selected=isSelected)= state

        .form-actions
          button.btn.btn-primary(type='submit') Salvar
          &nbsp;
          a.btn(href='/projects', title="cancel") Cancelar
