extends ../layouts/default


block main
  h1= title
  hr

block content
  - var action = '/organizations'
  - action += organization.isNew? '' : '/' + organization.id
  .row
    .span7
      form.form-horizontal(method="post", action=action, enctype="multipart/form-data")

        input(type="hidden", name="_csrf", value="#{csrf_token}")

        - if (!organization.isNew)
          input(type="hidden", name="_method", value="PUT")

        .control-group
          label.control-label(for='name') Nome
          .controls
            input#title.input-xlarge(type='text', name="name", value=organization.name, placeholder='Nome pelo qual a organização é conhecida.')
            
        .control-group
          label.control-label(for='legalName') Razão social
          .controls
            input#title.input-xlarge(type='text', name="legalName", value=organization.legalName, placeholder='Razão social.')


        .control-group
          label.control-label(for='profile') Perfil
          .controls
            textarea#desc.input-xlarge(type='text', rows="5", name="profile", placeholder='Perfil da organização.')=organization.profile
                
        .control-group
          label.control-label(for='activities') Atividades exercidas
          .controls
              select(class='chosen-select',data-placeholder="Digite para buscar...",name="activities",multiple)
                - each activity in activities
                  option(value=activity.description,selected=(organization.activities.indexOf(activity.description)>=0))= activity.description

        .form-actions
          button.btn.btn-primary(type='submit') Salvar
          &nbsp;
          a.btn(href='/organizations', title="cancel") Cancelar
