

extends ../layouts/default

block main
  h1 Financiamentos

block content
  p
    a(href="/financings/new") Novo financiamento
  - if (financings.length)
    table.table
      thead
        tr
          th Beneficiário        
          th Data
          th Tipo
          th Projeto
          th Valor
      tbody
        - each financing in financings
          tr
            td
              - if (financing.beneficiary)
                a(href='/organizations/'+financing.beneficiary._id) #{financing.beneficiary.name}
              - else
                | -
            td 
              a(href='/financings/'+financing._id, title=financing.contractDate) #{Moment(financing.contractDate).utc().format('DD/MM/YYYY')}
            td 
              - if (financing.isDirect)
                | Direto
              - else
                | Indireto
            td
              a(href='/financings/'+financing._id, title="Projeto")=financing.project.title
            td=Globalize.format(financing.amount,'c')

    - if (pages > 1)
      .pagination
        ul
          != createPagination(pages, page)
  - else
    p.muted Não há financiamentos mapeados.&nbsp;
